asttokens
backcall
certifi
charset-normalizer
click
colorama
comm
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
debugpy
decorator
executing
Flask
gunicorn
idna
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
jupyterlab-widgets
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
platformdirs
plotly
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pytz
pyzmq
requests
scipy
six
stack-data
tenacity
tornado
traitlets
urllib3
wcwidth
Werkzeug
widgetsnbextension
